doctype html
html
  head
    title= title
    link(rel='icon', href='../web/icon.jpg')
  style
    include style.css
  body
  - var pictures = data[1];
  - var params = data[0];
    .wrapper
      .main
        .header
          .logo
            img(src='../web/logo.png')
          h1 r6newspaper
        .preview
          .container
            .img
              img(src=`../bages/available/ui_playercard_0.png`)
              .user_info
                #uplay_name Никнейм
                #statistic
                  span= '9999MMR'
                  span= 'No Rank'
                  span= '9.99kd'
                #top_ops Top Operators
                #ops_img
                  img(src="../operators/frost.png")
                  img(src="../operators/mute.png")
                  img(src="../operators/sledge.png")
                #rank_img
                  img(src="../ranks/No Rank.webp")
            .settings
              label Цвет текста: #[input(type='color' class='text_color')]
              label Рамка #[input(type='checkbox' id='border_checkbox' class='checkbox_hide')]
              label(class='hide_toggle') Цвет рамки: #[input(type='color' class='border_color')]
              label Обводка текста #[input(type='checkbox' id='text_outline_checkbox' class='checkbox_hide')]
              label(class='hide_toggle') Цвет обводки: #[input(type='color' class='text_outline_color')]
              span Расположение ранга: #[select(class='rank_image_side_select') #[option(selected)="Справа"] #[option="Слева"]]
            .save_settings
              button#save_btn= 'Сохранить'
        .library
          .container
            each picture in pictures
              img(src=`../bages/available/${picture}`)
    script
      | let data = !{JSON.stringify(data)};
      | console.log(data);
    script
      include index.js